In [1]:
# euclidian distance ((p-q)**2)**0.5

In [5]:
import pandas as pd
import numpy as np

In [16]:
df = pd.DataFrame(np.arange(25))
df

     0
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
15  15
16  16
17  17
18  18
19  19
20  20
21  21
22  22
23  23
24  24

In [30]:
df = pd.DataFrame(np.arange(100).reshape(10,10))
df.iloc[::-1]

    0   1   2   3   4   5   6   7   8   9
9  90  91  92  93  94  95  96  97  98  99
8  80  81  82  83  84  85  86  87  88  89
7  70  71  72  73  74  75  76  77  78  79
6  60  61  62  63  64  65  66  67  68  69
5  50  51  52  53  54  55  56  57  58  59
4  40  41  42  43  44  45  46  47  48  49
3  30  31  32  33  34  35  36  37  38  39
2  20  21  22  23  24  25  26  27  28  29
1  10  11  12  13  14  15  16  17  18  19
0   0   1   2   3   4   5   6   7   8   9

In [24]:
np.arange(10).reshape(2,5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [19]:
df.loc[::-1]

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

In [12]:
df.iloc[::-1]bbb

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

In [31]:
# 51. What are the important features of Python?

In [32]:
# 1.intrpretable
# 2.easy to learn
# 3.dynamically typed
# 4.oops

In [33]:
# What is PEP 8?
# PEP denotes Python Enhancement Proposal. It's a collection of guidelines for formatting Python code for maximum readability.

In [37]:
def my_dec(func):
    def wrapper():
        print("hai")
        func()
        print("fun")
    return wrapper

In [38]:
@my_dec
def don():
    print("shan")

In [39]:
don()

hai
shan
fun

In [40]:

# What is the use of self in Python?
# In Python, self is a reference to the instance of the class itself. It is used within a class definition to refer to the instance variables and methods of the class.

In [66]:
class a:
    def __init__(self,x):
        self.x=x
        
    def x(self):
        print(self.x)

In [67]:
a=a(1)

In [68]:
a.x

1

In [71]:
d={
    1:"shan",
    2:"sss"
}

In [72]:
d

{1: 'shan', 2: 'sss'}

In [73]:
a=[1,2,3,4,5]
len(a)

5

In [74]:
from datetime import datetime

In [79]:
datetime.now().strftime("%Y-%m-%d")bbbb

'2024-02-23'

In [81]:
import json

# Python object (dictionary)
python_dict = {"name": "John", "age": 30, "city": "New York"}

# Convert Python object to JSON string
json_string = json.dumps(python_dict)
print(type(json_string))

<class 'str'>

In [82]:
# JSON string
json_string = '{"name": "John", "age": 30, "city": "New York"}'

# Convert JSON string to Python object (dictionary)
python_dict = json.loads(json_string)
print(python_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [86]:
# Define a function to double a number
def double(x):
    return x * 2

# Create a list of numbers
numbers = [1, 2, 3, 4, 5]

# Use map() to apply the function to each number in the list
doubled_numbers = map(double, numbers)
# print(list(doubled_numbers))

# Convert the result to a list
doubled_numbers_list = list(doubled_numbers)

print(doubled_numbers_list)

[2, 4, 6, 8, 10]

In [89]:
a=[1,2]

In [87]:
x=lambda x:x**2

In [91]:
list(map(x,a))

[1, 4]

In [93]:
def gen(x):
    for i in range(x):
        yield i**2

In [106]:
x=gen(5)

In [107]:
next(x)

0

In [ ]:
def gen(x):
    for i in range(x):
        yield i**2