. Write a code snippet to reverse a string.

In [ ]:
s="hai hello"

In [ ]:
s[::-1]

In [ ]:
# Q5. What is the difference between mutable and immutable?

In [ ]:
s=[1,2,3,4,5]

In [ ]:
s

In [ ]:
s.remove(1)

In [ ]:
s.pop()

In [ ]:
s.pop(2)

In [ ]:
s

In [ ]:
s[0]=0

In [ ]:
s

In [ ]:
t=(1,2,3,4,5)

In [ ]:
t[1]=4

In [ ]:
#  Write a code snippet to reverse an array.

In [ ]:
import numpy as np

In [ ]:
a=np.array([1,2,3,4])

In [ ]:
np.flip(a)

In [ ]:
a[::-1]

In [ ]:
# Q11. Write a code snippet to get an element, delete an element, and update an element in an array.

In [ ]:
a[0]=1

In [ ]:
a[0]=9

In [ ]:
a

In [ ]:
a[0]

In [ ]:
np.delete(a,0)

In [ ]:
a

In [ ]:
i=np.where(a == 3)[0]

In [ ]:
c=np.delete(a,i)

In [ ]:
c

In [ ]:
a

In [ ]:
bbbb

In [ ]:
List1= ['W', 'a', 'w','b']
List2 = ['e', '','riting','log']
List3=[]

In [ ]:
for i in range(len(List1)):
        List3.append(List1[i]+List2[i])

In [ ]:
List3

In [ ]:
" ".join(List3)

In [ ]:
# Q13. Write a code snippet to generate the square of every element of a list.

In [ ]:
a=[1,2,3,4,5]

In [ ]:
x=list(map(lambda x:x**2,a))

In [ ]:
x

In [ ]:
s={1,2,3,4,5}
s

In [ ]:
s.remove(7)
s

In [ ]:
# s.strip()
# len(s)
# s.split
# s.replace("old","new")
# s.upper()
# s.lower()

In [ ]:
d=[1,2,3,4,5]
x=[y for y in d ]
xbb

In [ ]:
x

In [ ]:
{i:i**2 for i in x}

In [ ]:
def x(i):
    for j in range(i):
        yield j

In [ ]:
d=x(5)

In [ ]:
next(d)

In [ ]:
def dec(func):
    def wrapper():
        print("hello")
        func()
        print("hai")
    return wrapper

In [ ]:
@dec
def f():
    print("shan")

In [ ]:
f()

In [ ]:
# Q38. What are built-in data types in Python?

In [ ]:
# 1.int,float,string,list,tuple,set,dict

In [ ]:
def d():
    """ this is simple function"""
    pass

In [ ]:
d.__doc__

In [ ]:
def x(**kwargs):
    for key,arg in kwargs.items():
        print(key,arg)

In [ ]:
x(name="shan",a="b")

In [ ]:
# Q49. How can we iterate through multiple lists at the same time?
# zip useful when we need to run multiple iterables at same time

In [ ]:
l1=[1,2,3,4,5]
l2=(1,4,9,16,29)

In [ ]:
dict(zip(l1,l2))

In [ ]:
# Q50. What are the various ways of adding elements to a list?

In [ ]:
#append,extend,insert at specific index

In [ ]:
#prime number checking

In [ ]:
n=49

In [ ]:
from math import sqrt
def prime(x):
    if x<2:
        return False
    for i in range(2,int(sqrt(x))+1):
        if x%i==0:
            return False
    return True

In [ ]:
prime(3)

In [ ]:
# Q53. What are the ways to swap the values of two elements?

In [ ]:
a=1
b=2

In [ ]:
c=a
c

In [ ]:
a=b
a

In [ ]:
b=c
b

In [ ]:
a,b=b,a
a,b

In [ ]:
n=5

In [ ]:
# find factorial of n using recusrive

In [ ]:
def fact(n):
    if n==1:
        return n
    else:
        return n*fact(n-1)

In [ ]:
fact(n)

In [ ]:
import math
math.factorial(6)

In [ ]:
# Q56. How do you find the minimum value in a list with a lambda function?

In [ ]:
d=[1,2,3,4,5]
mins=d[1]

In [ ]:
for i in d:
    print(i)
    if i <mins:
        mins=i

In [ ]:
mins

In [ ]:
# sort within border without any inbuild function

In [ ]:
# find max number without any inbuilt function

In [ ]:
maxs=d[1]

In [ ]:
for i in d:
    print(i)
    if i >maxs:
        maxs=i

In [ ]:
maxs

In [ ]:
s=[10,1,3,6,11,12]

In [ ]:
for i in range(len(s)):
    for j in range(i+1,len(s)):
        if s[i] > s[j]:
            s[i],s[j]=s[j],s[i]
#         print(s[i],s[j])

In [ ]:
s

In [ ]:
s=["a","e","f","b"]

In [ ]:
l={1:"a",2:"b",3:"c",4:"d",5:"e",6:"f"}

In [ ]:
a=[]

In [ ]:
for k,v in l.items():
#     print(k,v)
    for i in s:
        if v==i:
            a.append(v)

In [ ]:
a

In [ ]:
x=[1,"a",2,"b"]
# res =[1,2,"a","b"]

In [ ]:
x.sort()

In [ ]:
a

In [ ]:
sen=[1,"a",4,"b"]
num=[]
alph=[]

In [ ]:
for i in sen:
    if str(i).isnumeric():
        num.append(i)
    else:
        alph.append(i)

In [ ]:
num+alph

In [ ]:
# Q58. Write a code to select only odd numbers using list comprehension.

In [ ]:
li=[1,2,3,4,5,6,7]

In [ ]:
[i for i in li if i%2!=0]

In [ ]:
dictionary = {'a': 10, 'b': 5, 'c': 20, 'd': 3}
min(dictionary.values())

In [1]:
# Example dictionary
my_dict = {'a': 10, 'b': 5, 'c': 20, 'd': 3}

# Get the minimum value
min_value = min(my_dict.values())bb
print("Minimum value:", min_value)

Minimum value: 3

In [2]:
j=[10,5,20,3]
k=j[1]
for i in j:
    if i <k:
        k=i

In [4]:
# kQ60. Write a code to get the minimum value in a dictionary.