In [1]:
def dec(func):
    def wrapper():
        print("Hello")
        func()
        print("how are you?")
    return wrapper

In [2]:
@dec
def c():
    print("shan")

In [3]:
c()

Hello
shan
how are you?

In [4]:
l=[1,2,3,4,5]

In [7]:
x=[i**2 for i in l]
x

[1, 4, 9, 16, 25]

In [8]:
y={i:i**2 for i in l}

In [9]:
y

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [10]:
# byte code -.pyc

SyntaxError: invalid syntax (3389237321.py, line 1)

In [12]:
x[0:2]

[1, 4]

In [13]:
import math

In [21]:
i=float("nan")
i

nan

In [22]:
math.isnan(i)

True

In [24]:

a={"a":[1,2,3,4,5],"b":[1,2,3,4,5]}
a

{'a': [1, 2, 3, 4, 5], 'b': [1, 2, 3, 4, 5]}

In [25]:
import pandas as pd

In [28]:
df1=pd.DataFrame(a)

In [29]:
b={"c":[1,2,3,4,5],"d":[1,2,3,4,5]}

In [30]:
df2=pd.DataFrame(b)

In [32]:
df1

   a  b
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

In [33]:
df2

   c  d
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

In [43]:
pd.concat([df1,df2],axis=1)

   a  b  c  d
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4
4  5  5  5  5

In [44]:
# Q20. What are python modules? Name some commonly used built-in modules in Python

In [45]:
# 1.datetime
# 2.os
# 3.math
# 4.json

In [47]:
a="1"
type(a)

str

In [49]:
type(int(a))

int

In [50]:
import numpy as np

In [56]:
a=np.array([1,"1",3,4,5])
b=np.array([1,2,3,4,5])
a

array(['1', '1', '3', '4', '5'], dtype='<U11')

In [62]:
x=lambda x:x+2

In [63]:
x(2)

4

In [64]:
# Q31. How does break, continue and pass work?

In [65]:
# Q32. What does [::-1} do?

In [66]:
s="shan"
s[::-1]

'nahs'

In [67]:
s=[1,2,3,4,5]
s[::-1]

[5, 4, 3, 2, 1]

In [68]:
# Q33. How can you randomize the items of a list in place in Python?

In [69]:
from random import shuffle

In [70]:
x=[1,2,3,4,5]

In [84]:
shuffle(x)
x

[3, 5, 2, 4, 1]

In [85]:
# Q35. How can you generate random numbers in Python?

In [98]:
np.random.rand(1,10)

array([[0.73600896, 0.91216095, 0.60832879, 0.69428973, 0.88441674,
        0.12910358, 0.74032296, 0.09018808, 0.44298145, 0.16089505]])

In [ ]:
#

In [100]:
# Q39. What are the generators in python?

In [101]:
def x(i):
    for i in range(i):
        yield(i)

In [102]:
d=x(6)

In [110]:
next(d)

StopIteration:

In [111]:
# Q40. How will you capitalize the first letter of string?

In [112]:
s="shan"

In [114]:
s.capitalize()

'Shan'

In [117]:
"""
Using docstring as a comment.
This code divides 2 numbers
"""
x=8
y=4
z=x/y
print(z)
print(__doc__)

2.0

Using docstring as a comment.
This code divides 2 numbers

In [118]:
help()

Welcome to Python 3.11's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.11/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.
help> keywords

In [119]:
dir()

['In',
 'Out',
 '_',
 '_103',
 '_104',
 '_105',
 '_106',
 '_107',
 '_108',
 '_109',
 '_11',
 '_113',
 '_114',
 '_12',
 '_14',
 '_21',
 '_22',
 '_24',
 '_27',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_36',
 '_38',
 '_42',
 '_43',
 '_47',
 '_48',
 '_49',
 '_51',
 '_52',
 '_54',
 '_55',
 '_56',
 '_57',
 '_59',
 '_6',
 '_63',
 '_66',
 '_67',
 '_7',
 '_72',
 '_73',
 '_74',
 '_75',
 '_76',
 '_77',
 '_78',
 '_79',
 '_80',
 '_81',
 '_82',
 '_83',
 '_84',
 '_87',
 '_88',
 '_89',
 '_9',
 '_90',
 '_91',
 '_92',
 '_93',
 '_94',
 '_95',
 '_96',
 '_98',
 '_99',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i105',
 '_i106',
 '_i107',
 '_i108',
 '_i109',
 '_i11',
 '_i110',
 '_i111',
 '_i112',
 '_i113',
 '_i114',
 '_i115',
 '_i116',
 '_i117',
 '_i118',
 '_i119',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'c',
 'd',
 'dec',
 'df1',
 'df2',
 'exit',
 'get_ipython',
 'i',
 'l',
 'math',
 'np',
 'open',
 'pd',
 'quit',
 's',
 'shuffle',
 'x',
 'y',
 'z']

In [120]:
_i95

'np.random.randint(1,10,size=10)'

In [121]:
In

['',
 'def dec(func):\n    def wrapper():\n        print("Hello")\n        func()\n        print("how are you?")\n    return wrapper\n    ',
 '@dec\ndef c():\n    print("shan")',
 'c()',
 'l=[1,2,3,4,5]',
 'x=[i for i in l]',
 'x=[i for i in l]\nx',
 'x=[i**2 for i in l]\nx',
 'y={i:i**2 for i in l}',
 'y',
 'byte code -.pyc',
 'x',
 'x[0:2]',
 'import math',
 'math.isnan',
 'math.isnan()',
 'math.isnan(None)',
 'math.isnan(Nan)',
 'math.isnan("Nan")',
 'i=int("Nan")\ni',
 'i=int("nan")\ni',
 'i=float("nan")\ni',
 'math.isnan(i)',
 'a={"a":[1,2,3,4,5],"b":[1,2,3,4,5]}',
 'a={"a":[1,2,3,4,5],"b":[1,2,3,4,5]}\na',
 'import pandas as pd',
 'pd.Dataframe(a)',
 'pd.DataFrame(a)',
 'df1=pd.DataFrame(a)',
 'b={"c":[1,2,3,4,5],"d":[1,2,3,4,5]}',
 'df2=pd.DataFrame(b)',
 'df1,df2',
 'df1',
 'df2',
 'df1+df2',
 'df1.add(df2)',
 'df1.append(df2)',
 'df1.append(df2,axis=1)',
 'df1.append(df2)',
 'df1.concat(df2)',
 'df1.Concat(df2)',
 'pd.concat([a,b])',
 'pd.concat([df1,df2])',
 'pd.concat([df1,df2],axis=1)',
 '# Q20. What are python modules? Name some commonly used built-in modules in Python',
 '# 1.datetime\n# 2.os\n# 3.math\n# 4.json',
 'a="1"',
 'a="1"\ntype(a)',
 'int(a)',
 'type(int(a))',
 'import numpy as np',
 'a=np.array([1,2,3,4,5])\nb=np.array([1,2,3,4,5])\na,b',
 'a=np.array([1,2,3,4,5])\nb=np.array([1,2,3,4,5])\na+b',
 'a=np.array([1,1.2,"3",4,5])\nb=np.array([1,2,3,4,5])\na+b',
 'a=np.array([1,1.2,3,4,5])\nb=np.array([1,2,3,4,5])\na+b',
 'a=np.array([1,1.2,3,4,5])\nb=np.array([1,2,3,4,5])\na',
 'a=np.array([1,"1",3,4,5])\nb=np.array([1,2,3,4,5])\na',
 'lambda x:x+2',
 'x=lambda x:x+2',
 'x(2)',
 'x=lambda y:x+2',
 'x(2)',
 'x=lambda x:x+2',
 'x(2)',
 '# Q31. How does break, continue and pass work?',
 '# Q32. What does [::-1} do?',
 's="shan"\ns[::-1]',
 's=[1,2,3,4,5]\ns[::-1]',
 '# Q33. How can you randomize the items of a list in place in Python?',
 'from random import shuffle',
 'x=[1,2,3,4,5]',
 'shuffle(x)',
 'shuffle(x)\nx',
 'shuffle(x)\nx',
 'shuffle(x)\nx',
 'shuffle(x)\nx',
 'shuffle(x)\nx',
 'shuffle(x)\nx',
 'shuffle(x)\nx',
 'shuffle(x)\nx',
 'shuffle(x)\nx',
 'shuffle(x)\nx',
 'shuffle(x)\nx',
 'shuffle(x)\nx',
 'shuffle(x)\nx',
 '# Q35. How can you generate random numbers in Python?',
 'np.random()',
 'np.random.randint(1,10)',
 'np.random.randint(1,10,size=10)',
 'np.random.randint(1,10,size=10)',
 'np.random.randint(1,10,size=10)',
 'np.random.randint(1,10,size=10)',
 'np.random.randint(1,10,size=10)',
 'np.random.randint(1,10,size=10)',
 'np.random.randint(1,10,size=10)',
 'np.random.randint(1,10,size=10)',
 'np.random.randint(1,10,size=10)',
 'np.random.rand(1,10,size=10)',
 'np.random.rand(1,10)',
 "''' skmdkmskdm'''",
 '# Q39. What are the generators in python?',
 'def x(i):\n    for i in range(i):\n        yield(i)',
 'd=x(6)',
 'd',
 'next(d)',
 'next(d)',
 'next(d)',
 'next(d)',
 'next(d)',
 'next(d)',
 'next(d)',
 '# Q40. How will you capitalize the first letter of string?',
 's="shan"',
 's.capitalize',
 's.capitalize()',
 '"""\nUsing docstring as a comment.\nThis code divides 2 numbers\n"""\nx=8\ny=4\nz=x/y\nprint(z)',
 '"""\nUsing docstring as a comment.\nThis code divides 2 numbers\n"""\nx=8\ny=4\nz=x/y\nprint((z)\nprint(__doc__)',
 '"""\nUsing docstring as a comment.\nThis code divides 2 numbers\n"""\nx=8\ny=4\nz=x/y\nprint(z)\nprint(__doc__)',
 'help()',
 'dir()',
 '_i95',
 'In']

In [122]:
# Q44. What is the purpose of ‘is’, ‘not’ and ‘in’ operators?

In [129]:
a=[1,2,3,4,5]
b=[1,2,3,4,5]

SyntaxError: invalid syntax (600218652.py, line 1)

In [134]:
# Q46. Whenever Python exits, why isn’t all the memory de-allocated?

In [135]:
# Q48. How can the ternary operators be used in python?

In [138]:
x=10
y=15

In [139]:
x if x>y else y

15

In [140]:
# Q51. Explain split(), sub(), subn() methods of “re” module in Python.

In [141]:
import re

In [143]:
re.split(",","s,han")

['s', 'han']

In [144]:
re.sub(",",".","s,han")

's.han'

In [145]:
re.subn(",",".","s,han")

('s.han', 1)

In [149]:
a[0]="shan"

In [152]:
a

['shan', 2, 3, 4, 5]

In [155]:
a.pop(0)

'shan'

In [157]:
a

[2, 3, 4]

In [159]:
a.remove(2)

In [160]:
a

[3, 4]

In [166]:
from abc import ABC,abstractmethod

In [178]:
class c(ABC):
    @abstractmethod
    def _a(self):
        pass
#         print("1")

In [179]:
class b(c):
    def v(self):
        print("v")
    def _a(self):
        print("1")

In [181]:
f=b()._a()

1

In [182]:
# Q76. Write a program in Python to execute the Bubble sort algorithm.

In [185]:
z=list(np.random.randint(1,10,size=10))

In [193]:
z

[9, 7, 2, 6, 4, 1, 8, 3, 2, 7]

In [197]:
for i in range(0,len(z)):
    for j in range(i+1,len(z)):
        if z[i]>z[j]:
            z[i],z[j]=z[j],z[i]
print(z)

[1, 2, 2, 3, 4, 6, 7, 7, 8, 9]

In [234]:
n=20

In [198]:
# Q77. Write a program in Python to produce Star triangle.

In [237]:
for i in range(n):
    for k in range(n-i,1,-1):
        print(" ",end="")
    for j in range(i):
        print(" *",end="")
    print("\n")

for i in range(n):
    for j in range(i):
        print(" ",end="")
    for k in range(n-i,1,-1):
        print(" *",end="")
    print("\n")

                   *

                  * *

                 * * *

                * * * *

               * * * * *

              * * * * * *

             * * * * * * *

            * * * * * * * *

           * * * * * * * * *

          * * * * * * * * * *

         * * * * * * * * * * *

        * * * * * * * * * * * *

       * * * * * * * * * * * * *

      * * * * * * * * * * * * * *

     * * * * * * * * * * * * * * *

    * * * * * * * * * * * * * * * *

   * * * * * * * * * * * * * * * * *

  * * * * * * * * * * * * * * * * * *

 * * * * * * * * * * * * * * * * * * *

 * * * * * * * * * * * * * * * * * * *

  * * * * * * * * * * * * * * * * * *

   * * * * * * * * * * * * * * * * *

    * * * * * * * * * * * * * * * *

     * * * * * * * * * * * * * * *

      * * * * * * * * * * * * * *

       * * * * * * * * * * * * *

        * * * * * * * * * * * *

         * * * * * * * * * * *

          * * * * * * * * * *

           * * * * * * * * *

            * * * * * * * *

             * * * * * * *

              * * * * * *

               * * * * *

                * * * *

                 * * *

                  * *

                   *

In [238]:
# Q78. Write a program to produce Fibonacci series in Python.

In [239]:
# [1,2,3,5,8,13]

In [241]:
l=10
x=[1,2]
while len(x)<l:
    y=x[-1]+x[-2]
    x.append(y)
x

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [242]:
# Q79. Write a program in Python to check if a number is prime.

In [258]:
def check_prime(n):
    if n<2:
        return False
    for i in range(2,int(math.sqrt(n))+1):
        if n%i ==0:
            return False
    return True

In [259]:
# Q81. Write a one-liner that will count the number of capital letters in a file. Your code should work even if the file is too big to fit in memory.

In [271]:
sum(1 for line in open("1.txt","rb") for char in line if chr(char).isupper())

10769

In [283]:
with open("1.txt",encoding="utf-8") as file:
    line=file.read()
    c=0
    for char in line:
        if char.isupper():
            c+=1
print(c)

10677

In [285]:
A0 = dict(zip(('a','b','c','d','e'),(1,2,3,4,5)))
A1 = range(10)
A2 = sorted([i for i in A1 if i in A0])
A3 = sorted([A0[s] for s in A0])
A4 = [i for i in A1 if i in A3]
A5 = {i:i*i for i in A1}
A6 = [[i,i*i] for i in A1]
print(A0,A1,A2,A3,A4,A5,A6)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5} range(0, 10) [] [1, 2, 3, 4, 5] [1, 2, 3, 4, 5] {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81} [[0, 0], [1, 1], [2, 4], [3, 9], [4, 16], [5, 25], [6, 36], [7, 49], [8, 64], [9, 81]]

In [287]:
'1'!=1

True